<h1>Wine Feed DB List</h1>
<div class="verticalScroll">
<table class="table table-sm table-bordered table-hover">
{% if wines %}
    <thead>
        <tr class="table-primary text-center">
            <th>Title</th>
            <th>Link</th>
            <th>Publication Date</th>
            <th>Description</th>
        </tr>
    </thead>
{% endif %}
{% for item in wines %}
    <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.link }}</td>
        <td>{{ item.pubDate|date('Y-m-d') }}</td>
        <td>{{ item.description }}</td>
    </tr>
{% else %}
    <tr>
        <td colspan="4" class="text-info">No wines found.</td>
    </tr>
{% endfor %}
</table>
</div>
