<form method="post" action="{{ path('wine_feed_delete', {'id': wine_feed.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ wine_feed.id) }}">
    <button class="btn">Delete</button>
</form>
